<footer>
  <small>
    This site is maintained by <a href="https://www.danurbanowicz.com">Hadrian Cawthorne</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
