<section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>

			<div class="post-meta">
				<time datetime="{{ post.date | machineDate }}">
					<small>{% include 'snippets/authoricon.njk' %} By <a href="/authors/{{ post.data.author | slug }}/"> {{ post.data.author }}</a> &nbsp; {% include 'snippets/dateicon.njk' %} {{ post.date | readableDate }} </small>
				</time>
			</div>
			{% if post.data.tags %}
				<div class="post-tags">
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</div>
			{% endif %}
			{% if post.data.coverImage %}
				<figure class="featured_image">
					<img src="{{ post.data.coverImage }}" alt="{{ post.data.alt }}">
				</figure>
			{% endif %}
			{% if post.data.slug %}
				<p class="slug">{{ post.data.slug }} <br/> <a href="{{ post.url | url }}">Read More</a></p>
			{% endif %}
		</article>
	{% endfor %}
</section>
