---
layout: layouts/base.njk
section: post
---

<article>
<div class="post-header" style="background-image: url({{ coverImage }});"></div>
<div class="overlay"></div>
<div class="entries">


<h1 class="post-title">{{ title }}</h1>
<div>
  <time datetime="{{ page.date | machineDate }}">
    <small>{% include 'snippets/authoricon.njk' %} By <a href="/authors/{{ author | slug }}/"> {{ author }}</a> &nbsp; {% include 'snippets/dateicon.njk' %} {{ page.date | readableDate }} </small>
  </time>
</div>
</div>
  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
